* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

:root {
    --primary-color: linear-gradient(135deg, #cf9aff, #95c0ff);
    --secondary-color: white;
    --text-color: #333
}

.dark-theme {
    --primary-color: linear-gradient(135deg, #333, #4e4e4e);
    --secondary-color: #212121;
    --text-color: white;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: var(--primary-color);
    color: white;
    padding-top: 4%;
    padding-left: 10%;
}

body {
    background: var(--secondary-color);
}

/* Nav Bar */
nav h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    color: var(--text-color);

}

nav h1 img {
    width: 60px;
}

nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

nav ul li a :hover {
    color: #8f20f6;
}

#icon {
    width: 30px;
    cursor: pointer;

}

/* Container */
.container button img {
    width: 25px;
    margin-right: 8px;
}

.container button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    outline: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 30px 0 20px;

}

.container button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* input area */
.input-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}

.input-box img {
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

